{% extends "base.html" %}

{% block content %}
    {% if marks %}
        <ul class="marks">
            <div class="subnav">
                <a href="/" {% if page == 'Home' %} class="selected" {% endif %}>All Marks</a>
                <a href="/history" {% if page == 'History' %} class="selected" {% endif %}>History</a>
                <a href="/bookmarks" {% if page == 'Bookmarks' %} class="selected" {% endif %}>Bookmarks</a>
                <form action="/search" method="GET" class="search pull-right">
                    <input type="text" class="search" placeholder="Search" name="search" {% if search %} value="{{ search }}" {% endif %}>
                    <input type="submit" class="btn" value="Search">
                </form>
            </div>
            {% for mark in marks %}
                <li class="mark">
                    <h4>
                        {% if mark.favicon %}
                            <img width="16" src="{{ mark.favicon }}">
                        {% endif %}
                        <a href="{{ mark.url }}" title="{{ mark.title }}" target="_blank">
                            {% if mark.title|length > 75 %}
                                {{ mark.title[:75]+'...' }}
                            {% else %}
                                {{ mark.title }}
                            {% endif %}
                        </a>
                    </h4>
                    {# only show the last visited date for the url #}
                    <span class="pull-right">{{ mark.visited_at[-1].date.strftime('%m-%d-%Y %H:%M') }}</span>
                </li>
            {% endfor %}
        </ul>
        {% if last_page > 1 %}
            <ul class="pager">
                {% if cur_page == 1 %}
                    <li class="previous disabled">
                        <span>&larr; Newer</span>
                    </li>
                {% else %}
                    <li class="previous">
                        <a href="?pg={{ cur_page - 1 }}">&larr; Newer</a>
                    </li>
                {% endif %}
                {% if cur_page == last_page %}
                    <li class="next disabled">
                        <span>Older &rarr;</span>
                    </li>
                {% else %}
                    <li class="next">
                    <a href="?pg={{ cur_page + 1 }}">Older &rarr;</a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    {% elif page != 'Search' and page != 'Bookmarks' %}
        <div class="setup-main">
            <h1>Welcome to SmartMarks!</h1>
            <section class="one">
                <div class="img right">
                    <img src="{{ getImg('install1.png') }}"/>
                </div>
                <div class="main left">
                    <h2>1. Download the Chrome Extension</h2>
                    <p>
                        The only way SmartMarks can do it's magic is if you add the SmartMarks chrome extension to your browser. Go to the <a href="https://chrome.google.com/webstore/detail/smartmarks/enknjhgpnblekiknabopmfogmpcefefa" target="_blank">Chrome Web Store</a> and click the big blue Add to Chrome button to get started.
                    </p>
                </div>
            </section>
            <section class="two">
                <div class="main right">
                    <h2>2. Add the extension to Chrome</h2>
                    <p>
                        Once you click Add to Chrome you will be asked to add it. SmartMarks uses your data on websites, your history, and your tabs and browsing activity to give you the ability to easily find websites that you saw before, but want to find again. Click the Add button to add the extension to Chrome.
                    </p>
                </div>
                <div class="img left">
                    <img src="{{ getImg('install2.png') }}"/>
                </div>
            </section>
            <section class="three">
                <div class="img right">
                    <img src="{{ getImg('install3.png') }}"/>
                </div>
                <div class="main left">
                    <h2>3. Sign in to the extension</h2>
                    <p>
                        Now that the SmartMarks Chrome extension is installed you will see it at the right-hand corner of your browser. Click the SmartMarks icon and you will be prompted to sign in with your SmartMarks account. Once you sign in SmartMarks will automatically start remembering what websites you are browsing.
                    </p>
                </div>
            </section>
            <section class="four">
                <div class="main right">
                    <h2>4. Bookmark especially important websites</h2>
                    <p>
                        Once you are signed in you can at any time click the SmartMarks Chrome extension icon in the right-hand corner of Chrome to add the current page as a bookmark. You do not need to bookmark a page for SmartMarks to remember it, but if you think the page is especially important then bookmark it.
                    </p>
                </div>
                <div class="img left">
                    <img src="{{ getImg('install4.png') }}"/>
                </div>
            </section>
            <section class="five">
                <div class="img right">
                    <img src="{{ getImg('install5.png') }}"/>
                </div>
                <div class="main left">
                    <h2>Go back to browsing</h2>
                    <p>
                        That's all. You might as well go back to browsing because now we are saving everything for you. You can easily come back here (<a href="http://www.smartmarks.co/">www.smartmarks.co</a>) at any time to view and search your history and bookmarks. Right now the search makes it easier to find history items by title, but we will be adding more powerful ways of searching your history.
                    </p>
                </div>
            </section>
        </div>
    {% else %}
        <ul class="marks">
            <div class="subnav">
                <a href="/" {% if page == 'Home' %} class="selected" {% endif %}>All Marks</a>
                <a href="/history" {% if page == 'History' %} class="selected" {% endif %}>History</a>
                <a href="/bookmarks" {% if page == 'Bookmarks' %} class="selected" {% endif %}>Bookmarks</a>
                <form action="/search" method="GET" class="search pull-right">
                    <input type="text" class="search" placeholder="Search" name="search" value="{{ search }}">
                    <input type="submit" class="btn" value="Search">
                </form>
            </div>
            <li>
                <h2>
                    {% if page == 'Search' %}
                        There are no search results.
                    {% else %}
                        You do not have any bookmarks yet.
                    {% endif %}
                </h2>
            </li>
        </ul>
    {% endif %}
{% endblock %}